_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
node_modules
Gemfile.lock
*.gem
.run.serve.bat
.install.bat
.github.run.bat
.webrick.bat
cmd.exe
